.product-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.product-header {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.product-info {
  display: flex;
  gap: 1rem;
}
.product-cards-container {
  display: flex;
  gap: 2rem;
}
