.productList-container {
  display: flex;
  gap: 10px;
}

.products-content {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 150px;
  height: 260px;
}
.products {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.productList-img {
  width: 120px;
  height: 100px;
}
.productList-btn {
  border: none;
  padding: 10px;
  background-color: bisque;
  color: black;
  cursor: pointer;
}
