:root {
  --icon-bg: #dbe1e6;
  --primary-color: #1e40af;
  --border-color: #bbc2ce;
}

nav {
  width: 100%;
  border-bottom: 1px solid var(--border-color);
  height: 10vh;
  background-color: transparent;
  z-index: 2;
  position: sticky;
}
.nav-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.basket-icon {
  font-size: 5rem;
  border: 1px solid #ffffff;
  background-color: var(--icon-bg);
  border-radius: 20%;

  padding: 1rem;
  margin-left: 20px;
  color: var(--primary-color);
}
.text-contianer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.nav-title {
  font-size: 3rem;
}
.nav-text {
  font-size: 1.5rem;
}
