.input__contianer {
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  padding-bottom: 4rem;
}
.input {
  width: 50rem;
  max-width: 400px;
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}
