.header-title {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 3rem;
  margin-top: 1rem;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  font-size: 1.5rem;
}
