* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
.fruitList-container,
.selectedFruits-container {
  border-radius: 1rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  background: #f5f5f5;
  padding: 1rem;
  width: 250px;
  height: 100vh;
  margin-top: 5rem;
  font-size: 1.5rem;
}
.fruitList-content,
.selectedFruits-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

button {
  border: none;
  padding: 1rem;
  background-color: green;
  color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
