@mixin dynamic-flex(
  $display: flex,
  $justify: center,
  $align: center,
  $direction: row,
  $gap: 0,
  $flexWrap: wrap
) {
  display: $display;
  justify-content: $justify;
  align-items: $align;
  flex-direction: $direction;
  gap: $gap;
  flex-wrap: $flexWrap;
}

%buttons {
  border: 1px solid;
  padding: 1.3rem 1.5rem;
  border-radius: 1rem;
  &:hover {
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  cursor: pointer;
}

%inputs {
  flex-grow: 0.8;
  padding: 1.5rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: none;
  border-radius: 1rem;
  display: flex;
}
