.timer-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.timer-btn {
  display: flex;
  gap: 10px;
}
.start-btn,
.stop-btn {
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: aquamarine;
}
