.task__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  border: 2px dotted #ccc;
  padding: 1rem;
  gap: 1rem;
  width: 50rem;
  height: 30rem;
}

.layout {
  font-size: 4rem;
  color: rgba(255, 255, 255, 0.581);
  background-color: rgba(128, 128, 128, 0.344);
  padding: 1rem;
  border-radius: 20px;
}
.text {
  font-size: 1.5rem;
  color: #333;
}
