.taskList__container {
  border: 1px solid #ccc;
  width: 50rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
}
.tasklist__editDelet {
  opacity: 0;
  transition: opacity 0.5s ease;
  font-size: 1.8rem;
  cursor: pointer;
}
.taskList__container:hover .tasklist__editDelet {
  opacity: 1;
}
.edit {
  margin-right: 10px;
}

.delet {
  color: red;
}
