.buttons-container {
  display: flex;
  gap: 1rem;
}

.buttons-container > button {
  padding: 0.5rem;
  border: none;
  font-size: 1.5rem;
  background-color: blue;
  color: white;
  cursor: pointer;
}
