.products-container {
  display: flex;
  justify-content: space-evenly;
}
.products {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px;
}
img {
  width: 300px;
  height: 300px;
}
.discountPrice {
  text-decoration: line-through;
}
.prices {
  display: flex;
  gap: 10px;
}
.price {
  color: red;
}

.product-btn {
  border: none;
  cursor: pointer;
  background-color: green;
  padding: 10px;
  border-radius: 10px;
  color: white;
}
.disabl {
  border: none;
  cursor: pointer;
  background-color: gray;
  padding: 10px;
  border-radius: 10px;
  color: black;
}
