.studentList-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.5rem;
  margin-top: 1rem;
  padding: 1rem;
}

.studentList-content {
  border: 1px solid;
  padding: 0.5rem;
}
