:root {
  --border-color: #bbc2ce;
  --primary-color: #1e40af;
}

.sidebar-container {
  width: 350px;
  min-height: 450px;
  margin-left: 2rem;
  border: 1px solid var(--border-color);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 1.5rem;
  font-size: 1.5rem;
}
.sidebar-header-contianer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sidebar-header-icon {
  color: var(--primary-color);
}
.sidebar-header {
  top: 1.5rem;
  left: 1.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.sidebar-main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  text-align: center;
  height: 50vh;
}
.sidebar-main-icon {
  background-color: var(--icon-bg);
  color: #9ca3af;
  border-radius: 50%;
  font-size: 6rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
