.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.863);
  z-index: 1040;
}

.modal {
  display: inline-block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 15px 8px;
  border-radius: 10px;
}
.modalButton-container {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
  gap: 10px;
}
.cancel {
  display: inline-block;
  border: 1px solid gray;
  padding: 1rem;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
}

.deleteTask {
  background: red;
  color: white;
  border: none;
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.main {
  display: flex;
  align-items: center;
}
.warnIcon {
  font-size: 3rem;
  margin-right: 1rem;
  border: none;
  border-radius: 15px;
  padding: 3px;
  background-color: rgba(255, 0, 0, 0.071);
  color: red;
}
