* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  // header
  &__header {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 2rem;

    &--title {
      display: flex;
      gap: 1rem;
      span {
        color: green;
      }
    }

    &--mode {
      font-size: 2.5rem;

      .toggle-mode {
        cursor: pointer;
      }
    }
  }

  //   form
  .container__form {
    margin: 2rem 1rem;

    &--input-sorting {
      display: flex;
      justify-content: center;
      gap: 1rem;

      #list-input {
        width: 100%;
        max-width: 887px;
        padding: 0.8rem 1rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 16px;
      }

      #sort {
        cursor: pointer;
        max-width: 100px;
      }
    }

    &--input-group {
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-top: 2rem;
      input {
        width: 100%;
        max-width: 300px;
        padding: 0.8rem 1rem;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 16px;
      }

      button {
        padding: 0.8rem 2rem;
        border: none;
        background-color: green;
        color: white;
        cursor: pointer;
        border-radius: 6px;
      }
    }

    &--list {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      margin-top: 2rem;
      list-style: none;

      li {
        width: 100%;
        max-width: 990px;
        border: 1px solid #ccc;
        padding: 1rem;
        font-size: 1.6rem;
        position: relative;

        span {
          position: absolute;
          right: 0;
          bottom: 0.5rem;
          margin-right: 1rem;
          cursor: pointer;
          color: white;
          background-color: red;
          font-size: 1.7rem;
          border: 1px solid;
          padding: 0 0.3rem;
        }
      }
    }
  }
}

body.dark-mode .container {
  background-color: #121212;
  color: white;
}

body.light-mode .container {
  background-color: white;
}
