.header__container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 30rem;
}
.logo {
  margin-right: 1rem;
  font-size: 3rem;
  background-color: blue;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0.8rem;
  color: white;
  border-radius: 10px;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
}
.text {
  font-size: 1.5rem;
}
