:root {
  --primary-color: white;
  --gray: #6e6e6e;
  --gray-bg: #f2f4f7;
  --gray-border: #e5e7eb;

  --blue: #2563eb;
  --blue-bg: #e6efff;
  --blue-border: #dbeafe;

  --green: #059669;
  --green-bg: #d1fae5;
  --green-border: #bbf7d0;

  --box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
html {
  font-size: 62.5%;
}
$blue-primary: #2563eb;
$white: #ffffff;
$gray-border: #eeeeee;
$text-default: #333333;
