.text {
  &__title {
    font-size: clamp(3rem, 4vw + 1rem, 5rem);
    font-weight: bold;
    font-family: sans-serif;
  }
  &__p {
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    font-weight: 100;
  }
}
