@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Serif+Display&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Public+Sans:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: rgba(54, 83, 107, 0.084);
  --secondary-color: rgba(54, 83, 107, 1);
  --light-color: rgba(251, 252, 254, 1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-size: 16px;
  font-family: "Public Sans", sans-serif;
}
.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--primary-color);
  padding: 20px;
}
.header__nav {
  display: flex;
  align-items: center;
  gap: 60px;
}
.header__list {
  display: flex;
  text-align: center;
  padding-bottom: 6px;
  gap: 20px;
  list-style: none;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 1rem;
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--secondary-color);
}
/* LOGO */
.header__logo {
  display: flex;
  gap: 8px;
}

.header__title--pay {
  color: rgba(54, 83, 107, 0.879);
}
.header__title--api {
  color: rgb(156, 182, 205);
}

.header__btn,
.btn {
  padding: 15px 25px;
  background-color: rgba(186, 66, 112, 1);
  font-size: 1.1rem;
  color: var(--light-color);
  border-radius: 25px;
  border: none;
  cursor: pointer;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}

/* ////////////////// SECTION-1 ENTRY/////////////////*/
.entry__section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--primary-color);
}

.entry__container--title {
  max-width: 30vw;
  max-height: 290vh;
  padding: 20px;
  font-family: DM Serif Display;
  font-weight: 400;
  font-size: 4.5rem;
  color: var(--secondary-color);
  line-height: 72px;
}

.entry__container--img {
  max-height: 60vh;
  max-width: 60vw;
}

.input {
  border-radius: 24px;
  border: none;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  background-color: var(--light-color);
  padding: 18px 33px;
  color: var(--secondary-color);
  font-weight: 700;
  font-size: 1rem;
  line-height: 17.63px;
  opacity: 0.5;
}

.entry__container--button,
.ready__button {
  position: relative;
  right: 69px;
  min-height: 6vh;
}

.entry__text {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.2;
  margin: 15px 20px;
  gap: 2px;
}
.entry__span--question {
  color: rgba(54, 83, 107, 0.587);
}

/* ////////////// SECTION-2 ABOUT ////////////// */
.about__section {
  height: 40vh;
  background-color: rgba(27, 38, 47, 1);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.about__container--title {
  font-family: DM Serif Display;
  font-weight: 400;
  font-size: 3rem;
  color: var(--light-color);
}
.about__container--text {
  max-width: 25vw;
  font-weight: 400;
  font-size: 1rem;
  color: rgba(251, 252, 254, 0.427);
}

.about__container--button {
  min-height: 5vh;
  border: 1px solid var(--light-color);
  border-radius: 40px;
  padding: 15px;
  margin-top: 20px;
  cursor: pointer;
  background-color: rgba(27, 38, 47, 1);
  color: var(--light-color);
}
.about__container--button:hover {
  background-color: aliceblue;
  color: black;
}

.about__container--logo {
  max-width: 59vh;
}

/* ////////// SECTION-3 CODE /////////////// */
.code__section,
.card__section,
.design__section {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 74vh;
}
.code__section > img {
  max-width: 59vh;
}
.code__container--title {
  font-family: DM Serif Display;
  font-weight: 400;
  font-size: 3rem;
  color: var(--secondary-color);
  line-height: 1.2;
}
.code__container--text {
  max-width: 25vw;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  color: rgba(108, 130, 148, 1);
}

/*//////////////// SECTION-4 DESIGN ////////// */

.design__container {
  display: flex;
  align-items: center;
  gap: 80px;
}

.design__container--title {
  font-family: DM Serif Display;
  font-weight: 400;
  font-size: 3rem;
  color: var(--secondary-color);
  line-height: 72px;
}

.design__container--text {
  max-width: 25vw;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.8;
  color: rgba(108, 130, 148, 1);
}

.design__container--telephone > img {
  margin: -50px;
}

/* /////////////////// SECTION 5 CARD ///////////////// */
.card__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.card__container > h3 {
  font-family: Public Sans;
  font-size: 1.1rem;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}
.card__container-card--one,
.card__container-card--two,
.card__container-card--three {
  padding: 70px;
  max-width: 50vw;
  font-family: Public Sans;
  font-size: 1rem;
  font-weight: 400;
  line-height: 25px;
  text-align: center;
  color: rgba(108, 130, 148, 1);
  /* Card,title, text arasındaki məsafə? */
}

/* /////////////// SECTION 6 READY /////////// */
.section__ready {
  background-color: var(--primary-color);
  display: flex;
  justify-content: space-around;
  height: 10vh;
  flex-wrap: wrap;
}
.ready__container {
  font-family: DM Serif Display;
  font-size: 3rem;
  font-weight: 400;
  line-height: 56px;
  text-align: left;
  color: var(--secondary-color);
}

/* /////////////////////////////// FOOTER ///////////// */
.footer {
  background-color: rgba(27, 38, 47, 1);
  padding: 40px 10px;
}
.footer__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer__container--nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

.home__footer-span1 {
  color: var(--light-color);
}

.home__footer-span2 {
  color: rgba(251, 252, 254, 0.365);
}

.home__footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home__footer-list > a {
  color: rgba(251, 252, 254, 0.454);
}
.home__footer-list--item {
  padding: 2vh;
  list-style: none;
  font-family: "Public Sans", sans-serif;
  color: rgba(251, 252, 254, 0.454);
  font-weight: 700;
  font-size: 1rem;
  height: 5.5vh;
  cursor: pointer;
}
.about:hover {
  color: aliceblue;
}

.btn:hover {
  background-color: rgba(218, 109, 151, 1);
}

/* ///////////////////////////////// Tablet //////////////// */
@media screen and (min-width: 769px) and (max-width: 992px) {
  /* //////HEADER/// */
  html,
  body {
    font-size: 12px;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header__title {
    margin-top: 5px;
  }
  .header__nav-list > li {
    font-size: 1.25rem;
  }
  .header__btn {
    font-size: 1.25rem;
  }
  /* MAIN */
  /* ///////////SECTION 1 ENTRY//// */
  .entry__section {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .entry__container--title {
    max-width: 80vw;
    font-size: 4rem;
  }

  .input {
    padding: 15px 146px;
    font-size: 1rem;
  }
  .header__btn,
  .btn {
    padding: 18px 25px;
    font-size: 1rem;
  }
  .entry__text {
    display: flex;
    justify-content: center;
  }
  /* ////////////// SECTION-2 ABOUT ////////////// */

  .about__section {
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .about__container {
    padding: 50px;
    text-align: center;
  }
  .about__container--text {
    text-align: center;
    max-width: 46vw;
    line-height: 24px;
    padding: 0;
  }
  .about__container--logo {
    display: flex;
    justify-content: center;
  }
  /* //////////// section-3 CODE /////////// */
  .code__section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .code__container--title {
    text-align: center;
  }
  .code__container--text {
    text-align: center;
    max-width: 60vw;
    line-height: 24px;
    padding: 0;
  }
  /*//////////////// SECTION-4 DESIGN////////// */
  .design__section {
    height: 80vh;
  }
  .design__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0;
  }
  .design__container--title {
    text-align: center;
  }
  .design__container--text {
    text-align: center;
    max-width: 60vw;
    line-height: 24px;
    padding: 0;
  }
  .design__container--telephone > img {
    max-width: 27vw;
    padding: 20px;
  }
  /* /////////////////// SECTION-5 CARD ///////////////// */
  .card__container-card--one,
  .card__container-card--two,
  .card__container-card--three {
    max-width: 41vw;
    padding: 25px;
  }
  /* /////////////// SECTION-6 READY /////////// */
  .section__ready {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 28vh;
    max-width: 100vw;
  }

  /* /////////////////////////////// FOOTER ///////////// */
  .footer {
    padding: 20px;
  }
}

/* ///////////////////////////////// Mobile //////////////// */
@media screen and (max-width: 768px) {
  /* //////HEADER/// */
  html,
  body {
    font-size: 8px;
  }
  .header {
    display: flex;
    justify-content: space-between;
  }
  .header__btn {
    display: none;
  }
  .header__list {
    display: none;
  }
  .header__title {
    margin-top: 10px;
  }
  .menu-icon {
    width: 52px;
    height: 0px;
    background-color: black;
    display: flex;

    cursor: pointer;
  }

  .menu-icon > span {
    display: block;
    width: 100%;
    height: 10px;
    background-color: var(--secondary-color);
    position: relative;
  }
  .menu-icon > span::before,
  .menu-icon > span::after {
    content: "";
    width: 100%;
    height: 10px;
    background-color: var(--secondary-color);
    position: absolute;
  }
  .menu-icon > span::before {
    bottom: 20px;
  }

  .menu-icon > span::after {
    top: 20px;
  }
  /* Qısa formada hamburger menu */

  /* ////////////////// SECTION-1 ENTRY/////////////////*/
  .entry__section {
    display: flex;
    flex-flow: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .entry__container {
    position: relative;
    left: 30px;
  }
  .entry__container--title {
    max-width: 53vw;
    font-size: 5rem;
    line-height: 54px;
    text-align: center;
    padding: 0;
  }

  .input {
    padding: 15px 146px;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__btn,
  .btn {
    padding: 15px 143px;
    margin-left: 69px;
    font-size: 1.8rem;
    margin-top: 20px;
  }
  .entry__text {
    display: flex;
    justify-content: center;
    /* Burda yazı genişlənmir */
  }

  /* ////////////// SECTION-2 ABOUT ////////////// */
  .about__section {
    height: 80vh;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
  }
  .about__container {
    padding: 50px;
    text-align: center;
  }
  .about__container--text {
    text-align: center;
    line-height: 15px;
    padding: 8px;
    font-weight: 400;
    /* Yazı figmadaki kimi genişləmir */
  }
  .about__container--logo {
    display: flex;
    justify-content: center;
  }
  /* ////////// SECTION-3 CODE /////////////// */
  .code__section {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .code__container--title {
    text-align: center;
  }
  .code__container--text {
    text-align: center;
    padding: 8px;
  }
  /*//////////////// SECTION-4 DESIGN ////////// */
  .design__section {
    height: 80vh;
  }
  .design__container {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 0;
  }
  .design__container--title {
    text-align: center;
  }
  .design__container--text {
    text-align: center;
    padding: 1px;
  }
  .design__container--telephone > img {
    max-width: 27vw;
    padding: 20px;
  }

  /* /////////////////// SECTION 5 CARD ///////////////// */
  .card__container-card--one,
  .card__container-card--two,
  .card__container-card--three {
    max-width: 35vw;
    padding: 50px;
    line-height: 15px;
  }
  .card__container {
    display: flex;
    flex-direction: column;
  }

  /* /////////////// SECTION 6 READY /////////// */
  .section__ready {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 54vh;
    max-width: 100vw;
  }

  .ready__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .ready__button {
    position: relative;
    right: 35px;
  }
  .ready__container {
    position: relative;
    bottom: 25px;
  }

  /* /////////////////////////////// FOOTER ///////////// */
  .footer__container,
  .footer__container--nav,
  .home__footer-list {
    display: flex;
    flex-direction: column;
  }

  .footer__logo-socialmedia {
    margin-top: 20px;
  }
}
