.accordion-container {
  width: 500px;
  margin: 0 auto;
}
.accordion-item {
  border: 1px solid;
  margin: 10px 0;
  padding: 2px;
}
.title {
  width: 100%;
  padding: 10px;
  cursor: pointer;
  display: flex;
}
