.header {
  display: flex;
  position: relative;
  height: 10vh;
  &__nav {
    display: flex;
    justify-content: space-between;

    &--logo {
      margin: 15px;
    }
    &--list {
      display: none;
    }

    &--icon {
      position: absolute;
      right: 80px;
      top: 15px;
    }

    &--hamburgerContainer {
      position: absolute;
      right: 60px;
      top: 9px;
    }
    &--hamburger {
      width: 35px;
      height: 6px;
      background-color: #000;
      border-radius: 10px;
      position: absolute;
      top: 15px;
    }
    &--hamburger::before {
      content: "";
      position: absolute;
      width: 35px;
      height: 6px;
      background-color: #000;
      border-radius: 10px;
    }
    &--hamburger::after {
      content: "";
      position: absolute;
      width: 35px;
      height: 6px;
      background-color: #000;
      border-radius: 10px;
    }
    &--hamburger::before {
      transform: translateY(-12px);
    }
    &--hamburger::after {
      transform: translateY(12px);
    }
  }
  .btn {
    display: none;
  }
}

@media screen and (min-width: 993px) {
  .header {
    width: 100%;
    position: relative;
    &__nav {
      &--menu {
        display: flex;
        gap: 45px;
      }
      &--list {
        min-height: 25vh;
      }

      &--logo {
        margin: 15px;
      }
      &--list {
        display: flex;
        margin-top: 30px;
        list-style: none;
        gap: 25px;
        font-family: PP Neue Montreal;
        font-size: 18px;
        font-weight: 500;
        line-height: 21.6px;
        letter-spacing: -0.01em;
        color: rgba(140, 140, 140, 1);
      }
      .list-item {
        color: rgba(28, 74, 42, 1);
      }
      &--icon {
        display: none;
      }

      &--hamburgerContainer {
        display: none;
      }
      &--button {
        display: flex;
        gap: 10px;
        position: absolute;
        right: 20px;
        top: 9px;
      }
      &--loginBtn {
        border: 1px solid rgba(224, 232, 224, 1);
        padding: 10px 25px;
        border-radius: 8px;
        font-family: PP Neue Montreal;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;
        letter-spacing: -0.01em;
        text-align: center;
      }
      &--registerBtn {
        background: 1px rgba(28, 74, 42, 1);
        color: white;
        padding: 10px 35px;
        border-radius: 8px;
        font-family: PP Neue Montreal;
        font-size: 16px;
        font-weight: 500;
        line-height: 19.2px;
        letter-spacing: -0.01em;
        text-align: center;
        border: none;
      }
    }
    .btn {
      display: flex;
    }
  }
}
