h1 {
  font-size: 3rem;
}
.slider {
  position: relative;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  overflow: hidden;
  margin-top: 20px;
}

.slider-track img {
  position: absolute;
  left: 0;
  margin-top: 10px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

.perviosBtn {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translate(-50%);
  z-index: 10;
  border: none;
  padding: 1rem;
  font-size: 2rem;
  cursor: pointer;
}
.nextBtn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translate(50%);
  z-index: 10;
  cursor: pointer;
  border: none;
  padding: 1rem;
  font-size: 2rem;
}

.slider-track img.active {
  opacity: 1;
  z-index: 2;
}
.slider-track img.inactive {
  opacity: 0;
  z-index: 1;
}
