.main {
  position: relative;
  width: 600px;
  margin: 0 auto;
  height: 400px;
  overflow: hidden;
}

.slider-container img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

.btn-container {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 10;
}
.btn-left,
.btn-right {
  cursor: pointer;
  padding: 10px;
}

.slider-container img.active {
  opacity: 1;
  z-index: 2;
}
