/* .sideBarDiv {
  border: 1px solid red;
  width: 10%;
  height: 80vh;
  padding: 25px;
  display: none;
}
.hidde {
  display: flex;
} */

.box {
  width: 20%;
  border: 3px solid red;
  padding: 5rem;
  border-radius: 20%;
}
