* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right, #0f0c29, #302b63, #24243e);
}
form {
  background: white;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: relative;

  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  padding: 3rem;
  border-radius: 10px;
  border: 1px solid;
  height: 50vh;

  .todo__input--group {
    display: flex;
    gap: 1rem;

    &-input {
      padding: 0.5rem 1rem;
      font-size: 1.5rem;
    }

    &-btn {
      padding: 0.5rem 1rem;
      font-size: 2rem;
      cursor: pointer;
      background-color: rebeccapurple;
      color: white;
      border: none;
    }
  }

  .todo__list {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    overflow: auto;

    li {
      font-size: 1.5rem;
      border: 1px solid #ccc;
      padding: 0.5rem 0.5rem;
      position: relative;
      background-color: #cccccc2b;
      span {
        position: absolute;
        right: 0;
        margin-right: 1rem;
        cursor: pointer;
        color: white;
        background-color: rebeccapurple;
        font-size: 1.7rem;
        border: 1px solid;
        padding: 0 0.3rem;
      }
    }
  }

  .clearBtn {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    text-align: center;
    padding: 1rem;
    background-color: rebeccapurple;
    border: none;
    color: white;
    left: 10rem;
  }
}
