.employeeForm-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
  gap: 1rem;
  margin-top: 1rem;
  border: 1px solid #ccc;
  padding: 1rem;
}
h2 {
  font-size: 1rem;
  font-weight: bold;
}
label {
  font-weight: bold;
  display: flex;
  flex-direction: column;
}

.employeeForm-btn {
  border: none;
  padding: 0.7rem;
  border-radius: 5px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  margin-top: 1rem;
}

input {
  padding: 0.5rem;
}
