.employeeCard-container {
  margin-top: 1rem;
  color: gray;
  width: 500px;
  margin-top: 2rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.employeeCard-content {
  padding: 1rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.employeeCard-title {
  font-weight: bold;
  color: black;
}
.employeeCard-delet {
  color: red;
  cursor: pointer;
}
