.product-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.inStock {
  color: blue;
  border: 1px solid blue;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  width: 100px;
}

.outStock {
  color: white;
  border: 1px solid red;
  width: 100px;
  padding: 0.5rem;
  background-color: red;
  border-radius: 0.5rem;
}

.btn {
  padding: 1rem;
  background-color: green;
  color: white;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1.2rem;
}
